    <div class="search">
    <%= form_tag lenses_path, method: 'get', class: 'navbar-form navbar-center' do %>
    <input type="hidden" name="search" value="true">
      <label>Location:</label>
      <select type="search" name="location">
        <% if params["location"].present? %>
          <option selected><%= params["location"] %></option>
        <% else %>
          <option disabled selected>City</option>
        <% end %>
        <option>Chengdu</option>
        <option>Shanghai</option>
        <option>Suzhou</option>
        <option>Beijing</option>
        <option>Xinjiang</option>
        <option>Shenzhen</option>
        <option>Guangzhou</option>
      </select>

      <label>Type:</label>
      <select type="search" name="lens_type">
        <% if params["lens_type"].present? %>
          <option selected><%= params["lens_type"] %></option>
        <% else %>
          <option disabled selected>Lens type</option>
        <% end %>
        <option>Kit</option>
        <option>Standard</option>
        <option>Prime</option>
        <option>Telephoto Zoom</option>
        <option>Macro</option>
        <option>Wide Angle</option>
      </select>

      <label>Brand:</label>
      <select type="search" name="brand">
        <% if params["brand"].present? %>
          <option selected><%= params["brand"] %></option>
        <% else %>
          <option disabled selected>Lens brand</option>
        <% end %>
        <option>Canon</option>
        <option>Leica</option>
        <option>Minolta</option>
        <option>Nikon</option>
        <option>Olympus</option>
      </select>
      <br>
      <label>Max Price: $</label>
      <% if params["price"].present? %>
        <input type="number" name="price" value=<%= params["price"] %>>
      <% else %>
        <input type="number" name="price" placeholder="200">
      <% end %>
      <label type="search">Borrow date:</label>
      <% if params["borrow_date"].present? %>
        <input id="borrow_date" name="borrow_date" min="2017-01-01" max="2018-01-01" type="date" value=<%= params["borrow_date"] %>>
      <% else %>
        <input id="borrow_date" name="borrow_date" min="2017-01-01" max="2018-01-01" type="date" %>>
      <% end %>
      <label type="search">Return date:</label>
      <% if params["return_date"].present? %>
        <input id="return_date" name="return_date" min="2017-01-01" max="2018-01-01" type="date" value=<%= params["return_date"] %>>
      <% else %>
        <input id="return_date" name="return_date" min="2017-01-01" max="2018-01-01" type="date" %>>
      <% end %>
      <br>
      <br>
      <button>Search</button>

    </div>

    <% end %>
<div class="content">
  <div class="results", style= "margin-top: 30px">
    <div class="row">
      <% if @lenses.blank? %>
        <div class="col-xs-10 col-xs-offset-1">
          <br>
          <p>Sorry, there are no lenses that meet the search parameters. Please try again with other search parameters.</p>
        </div>
      <% else %>
      <% @lenses.each do |lense| %>
        <%= link_to lense do %>
          <div class="col-xs-12 col-sm-6">
            <div class="outer-card">
            <div class="card-content">
              <h4><%= lense.brand %></h4>
              <p style="font-size: 12px"><%=lense.lens_type %></p>
              <p><%= "$" + ('%.2f' % lense.price) + "/day" %></p>
              <p><%= lense.location %></p>
            </div>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path lense.photo.url, width: 250, height: 250, crop:"fit" %>);">
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="map-container", style= "margin-left: 30px; margin-top: 30px" >
    <div id="map" style="width: 450px; height: 500px;"></div>
  </div>
  <% content_for(:for_map) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>
