<div class="content">
  <div class="results">
    <div class="row">
     <% unless @lenses.nil? %>
      <% @lenses.each do |lense| %>
        <%= link_to lense do %>
          <div class="col-xs-12 col-sm-6">
            <div class="outer-card">
            <div class="card-content">
              <h4><%= lense.brand %></h4>
              <p><%=lense.lens_type %></p>
              <p><%= "$" + ('%.2f' % lense.price) + "/day" %></p>
              <p><%= lense.location %></p>
            </div>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path lense.photo.url, width: 250, height: 250, crop:"fit" %>);">
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <div id="map" style="width: 400px; height: 300px;"></div>
  </div>
  <% content_for(:for_map) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>



