<div class="content">
  <div class="results">
    <div class="row">
     <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <%= cl_image_tag @lense.photo, width: 300, height: 400, crop: :fill %>
          <h2><%= @lense.brand + " " + @lense.lens_type + " lens" %></h2>
        <% if current_user == @lense.user %>
            <p><strong><%= @lense.location %></strong><%= " | $" + ('%.2f' % @lense.price) + "/day" %></p>
            <p><%= @lense.condition %> condition</p>
          <p><%= link_to "Edit your listing", edit_lense_path(@lense), {class: "btn btn-treehouse"} %><%= link_to "Back to all lenses", lenses_path, {class: "btn btn-primary"} %></p>
        <% else %>
            <p><strong><%= @lense.location %></strong><%= " | Yours for " + "$" + ('%.2f' % @lense.price) + "/day" %></p>
            <p><%= @lense.condition %> condition</p>
            <% avatar_url = @lense.user.photo.url || @lense.user.facebook_picture_url %>
            <p>On loan from <%= mail_to @lense.user.email, @lense.user.first_name + " " + @lense.user.last_name %>    <%= image_tag avatar_url %></p>
          <p><%= link_to "Request to borrow", new_lense_booking_path(@lense), {class: "btn btn-primary btn btn-block"} %><%= link_to "Back to all lenses", lenses_path, {class: "btn btn-primary btn btn-block"} %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id="map" style="width: 400px; height: 300px;"></div>
  </div>
  <% content_for(:for_map) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>




