<div class="cards-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <%= cl_image_tag @lense.photo, width: 300, height: 400, crop: :fill %>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <h2><%= @lense.brand + @lense.lens_type %></h2>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <p>
            <strong><%= @lense.location %></strong>
            <%= " | Yours for " + "$" + ('%.2f' % @lense.price) + "/day" %>
          </p>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <p><%= "On loan from " + @lense.user.id.to_s %></p>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <p>
            <strong>Condition</strong>
          </p>
          <p>
            <%= @lense.condition %>
          </p>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <p>
            <%= link_to "Request to borrow", new_lense_booking_path(@lense), {class: "btn btn-treehouse"} %>
            <%= link_to "Back to all lenses", lenses_path, {class: "btn btn-primary"} %>
          </p>
        </div>
    </div>
  </div>
</div>
