<div class="cards">
  <div class="container">
    <div class="row">
     <% if @lenses.blank? %>
     <p>No lenses to show</p>
     <% else %>
      <% @lenses.each do |lense| %>
        <%= link_to lense do %>
        <div class="col-xs-12 col-sm-4" data-lens-id="<%= lense.id %>">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path lense.photo.url, width: 250, height: 250, crop:"fit" %>);">
            <div class="card-content">
              <h2><%= lense.brand %></h2>
              <p><%=lense.lens_type %></p>
              <p><%= "$" + ('%.2f' % lense.price) + "/day" %></p>
              <p><%= lense.location %></p>
              <p><%= link_to "Delete lens", lense, method: :delete, remote: true %><p>
            </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
