<%= simple_form_for @booking, url: booking_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :approved_by_owner, collection: [["Yes", true], ["No", false], ["Respond later", nil]], placeholder: "Do you approve booking request?" %>
    <%= f.hidden_field :user_id, value: current_user.id %>

  </div>

  <div class="form-action">
    <%= f.button :submit, class: "btn btn-primary btn-big"  %>
  </div>
<% end %>


