<%= simple_form_for [@lense, @booking], url: lense_bookings_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :lens_type, collection: ["Kit", "Standard", "Prime", "Telephoto Zoom", "Macro", "Wide Angle"], placeholder: "Choose lens type" %>
    <%= f.input :brand, collection: ["Canon", "Leica", "Minolta", "Nikon", "Olympus"], placeholder: "Please choose the brand" %>
    <%= f.input :price, placeholder: "Price per day" %>
    <%= f.input :condition, collection: ["Excellent", "Good", "Usable"],placeholder: "Fungus? Scratches?" %>
    <%= f.input :location, collection: ["Chengdu", "Shanghai", "Suzhou", "Beijing", "Xinjiang", "Shenzhen", "Guangzhou"], placeholder: "Which city is your lens available in?" %>
    <%= f.input :borrow_date, as: :date, order: [:day, :month, :year], placeholder: "Input borrow date" %>
    <%= f.input :return_date, as: :date, order: [:day, :month, :year], placeholder: "Input return date" %>
    <%= f.hidden_field :user_id, value: current_user.id %>

  </div>

  <div class="form-action">
    <%= f.button :search, class: "btn btn-primary"  %>
  </div>
<% end %>


